#Breadcrumbs{
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 15px;
  a{
    color:#eee;
    
    text-decoration: none ;
    &:hover{

      color:#fff;
    }
  }
  .separator{
    padding-left: 10px;
    padding-right: 5px;
  }
}