form {
  margin: 5rem 0;

  @include breakpoint(less-than-md) {
	margin: 2rem 0;
  }

  .btn  {
	width: 100%;
  }
  
  label.error,.message{
    margin:10px 5px 0;
    color: red;
    font-size: 0.8rem;
  }
  
} 