.footer {
  color: rgba(255, 255, 255, 0.75);
  padding: 5rem 0 3rem 2rem;

  @include breakpoint(less-than-md) {
	padding: 3rem 0 2rem;
	text-align: center;
  }

  img {
	@include breakpoint(less-than-md) {
	  margin-bottom: 1rem;
	}
  }

  ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
	  padding: 0;
	  margin: 0;

	  a {
		color: rgba(255, 255, 255, 0.75);
		text-decoration: none;
		padding: 0.25rem 0;
		display: inline-block;

		@include breakpoint(less-than-md) {
		  padding: 0.1rem 0;
		}

		&:hover {
		  color: #fff;
		  text-decoration: none;
		}

		strong {
		  display:block;
		  color: #fff;

		  @include breakpoint(less-than-md) {
			margin-top: 1rem;
		  }
		}
	  }
	}
  }

  p {
	margin-top: 4rem;
	font-size: 12px;

	@include breakpoint(less-than-md) {
	  margin-top: 2rem;
	}
  }
}